@{
    Layout = "_Layout";
    ViewData["Title"] = "Create Playlist";
}

<div class="container justify-content-center" id="formcontainer">
    <form id="editform" class="text-center p-5 col-sm-8" method="post" asp-action="Create" asp-controller="Playlists">
        <!--destination-->
        <div class="form-group row justify-content-center m-auto">
            <div class="col-xs-4 m-auto">
                <label for="inputStartPoint">Start</label>
                <input type="text" class="form-control" id="Start" placeholder="Starting point" name="StartPoint">
            </div>
            <div class="col-xs-4 m-auto">
                <label for="inputEndPoint">End</label>
                <input type="text" class="form-control" id="End" placeholder="End point" name="EndPoint">
            </div>
        </div>
        <!--Title-->
        <div class="form-group row justify-content-center m-auto">
            <div class="col-sm-6 text-center">
                <label for="example">Title</label>
                <input type="text" class="form-control" placeholder="Enter Title" name="Title">
            </div>
        </div>

        <!--Metal group-->
        <div class="form-group row justify-content-center m-4">
            <div class="col-xs-4 m-auto custom-control-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" onChange="EnableMetal()" id="inputMetal" name="Metal">
                <label class="custom-control-label float-left" for="inputMetal">Metal</label>
            </div>
            <div class="col-xs-6 m-auto">
                <input disabled type="range" min="0" max="100" step="10" onchange="updateTextInput(this.value);" class="form-control custom-range" id="inputMetalSlider" name="MetalSlider">
                <span class="font-weight-bold text-white ml-2 mt-1" id="metalSpan"></span>
            </div>
        </div>
        <!--rock group-->
        <div class="form-group row justify-content-center m-4">
            <div class="col-xs-4 m-auto custom-control-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" onChange="myFunction()" id="inputRock" name="Rock">
                <label class="custom-control-label" for="inputRock">Rock</label>
            </div>
            <div class="col-xs-6 m-auto">
                <input disabled type="range" min="0" max="100" step="10" class="form-control custom-range" id="inputRockSlider" name="RockSlider">
                <span class="font-weight-bold text-white ml-2 mt-1" id="rockSpan"></span>
            </div>
        </div>
        <!--Pop group-->
        <div class="form-group row justify-content-center m-4">
            <div class="col-xs-4 m-auto custom-control-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" onChange="myFunction()" id="inputPop" name="Pop">
                <label class="custom-control-label" for="inputPop">Pop</label>
            </div>
            <div class="col-xs-6 m-auto">
                <input disabled type="range" min="0" max="100" step="10" class="form-control custom-range" id="inputPopSlider" name="PopSlider">
                <span class="font-weight-bold text-white ml-2 mt-1" id="popSpan"></span>
            </div>
        </div>
        <!--Jazz group-->
        <div class="form-group row justify-content-center m-4">
            <div class="col-xs-4 m-auto custom-control-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" onChange="myFunction()" id="inputJazz" name="Jazz">
                <label class="custom-control-label" for="inputJazz">Jazz</label>
            </div>
            <div class="col-xs-6 m-auto">
                @*<label for="inputJazzSlider">Jazz</label>*@
                <input disabled type="range" min="0" max="100" step="10" class="form-control custom-range" id="inputJazzSlider" name="JazzSlider">
                <span class="font-weight-bold text-white ml-2 mt-1" id="jazzSpan"></span>
            </div>
        </div>


        <div class="form-group row justify-content-center">
            <div class="col-xs-4 text-center" style="margin-top: 10px">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-warning waves-effect" asp-controller="Home" asp-action="Index">Cancel</a>
            </div>
        </div>
    </form>
</div>