@{
    Layout = "_Layout";
    ViewData["Title"] = "Generate Playlist";
}

<div class="contact" id="contact">
    <div class="violet-overlay">
        <div class="container">
            <h2 class="text-center">Create a Playlist</h2>
            <div class="contact-form">
                <form>
                    <input type="text" placeholder="Starting point">
                    <input type="email" placeholder="End Point">
                    <input type="submit" value="SEND">
                </form>
            </div>
        </div>
    </div>
</div>
