@model PlaylistViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<iframe id="dzplayer" 
        dztype="dzplayer" 
        src="http://developers.deezer.com/us/plugins/player?playlist=true&width=700&height=240&autoplay=false&type=playlist&id=30595446" 
        scrolling="no" 
        frameborder="0" 
        style="border:none; 
        overflow:hidden;" 
        width="700" 
        height="240" 
        allowTransparency="true">

</iframe>