@model PlaylistViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<div class="container justify-content-center" id="formcontainer">
    <form id="customForm" class="text-center p-5 col-sm-8" method="post" asp-action="Edit" asp-controller="Playlists">
        <input type="hidden" name="pId" value="@Model.Id">
        <!--destination-->
        @*<div class="form-group row justify-content-center m-auto">
            <div class="col-xs-4 m-auto">
                <label for="inputStartPoint">Start</label>
                <input type="text" class="form-control" id="Start" placeholder="Starting point" name="StartLocationName">
            </div>
            <div class="col-xs-4 m-auto">
                <label for="inputEndPoint">End</label>
                <input type="text" class="form-control" id="End" placeholder="End point" name="DestinationName">
            </div>
        </div>*@
        <!--Title-->
        <div class="form-group row justify-content-center m-auto">
            <div class="col-sm-6 text-center">
                <label for="example">Title</label>
                <input type="text" class="form-control" placeholder="Enter Title" name="inputTitle">
            </div>
        </div>

        <!--options group-->
        @*<div class="form-group row justify-content-center m-4">
            <div class="col-xs-4 m-auto custom-control-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="repeat" name="RepeatArtist" value="true">
                <label class="custom-control-label float-left" for="repeat">Repeat Artist</label>
            </div>
            <div class="col-xs-4 m-auto custom-control-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="topTracks" name="TopTracks" value="true">
                <label class="custom-control-label float-left" for="topTracks">Top Tracks</label>
            </div>
        </div>*@

        <!--Metal group-->
        <div class="form-group row justify-content-center m-4">
            <div class="col-xs-4 m-auto custom-control-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" @*onChange="myFunction()"*@ id="inputMetal" value="1" name="inputMetal">
                <label class="custom-control-label float-left" for="inputMetal">Metal</label>
            </div>
            @*<div class="col-xs-6 m-auto">
                <input disabled type="range" min="0" max="100" step="10" onchange="updateTextInput(this.value);" class="form-control custom-range" id="inputMetalSlider" name="MetalPercentage">
                <span class="font-weight-bold text-white ml-2 mt-1" id="metalSpan"></span>
            </div>*@
        </div>
        <!--rock group-->
        <div class="form-group row justify-content-center m-4">
            <div class="col-xs-4 m-auto custom-control-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" @*onChange="myFunction()"*@ id="inputRock" value="1" name="inputRock">
                <label class="custom-control-label" for="inputRock">Rock</label>
            </div>
            @*<div class="col-xs-6 m-auto">
                <input disabled type="range" min="0" max="100" step="10" class="form-control custom-range" id="inputRockSlider" name="RockPercentage">
                <span class="font-weight-bold text-white ml-2 mt-1" id="rockSpan"></span>
            </div>*@
        </div>
        <!--Pop group-->
        <div class="form-group row justify-content-center m-4">
            <div class="col-xs-4 m-auto custom-control-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" @*onChange="myFunction()"*@ id="inputPop" value="1" name="inputPop">
                <label class="custom-control-label" for="inputPop">Pop</label>
            </div>
            @*<div class="col-xs-6 m-auto">
                <input disabled type="range" min="0" max="100" step="10" class="form-control custom-range" id="inputPopSlider" name="PopPercentage">
                <span class="font-weight-bold text-white ml-2 mt-1" id="popSpan"></span>
            </div>*@
        </div>
        <!--Jazz group-->
        <div class="form-group row justify-content-center m-4">
            <div class="col-xs-4 m-auto custom-control-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" @*onChange="myFunction()"*@ id="inputJazz" value="1" name="inputJazz">
                <label class="custom-control-label" for="inputJazz">Jazz</label>
            </div>
            @*<div class="col-xs-6 m-auto">
                <input disabled type="range" min="0" max="100" step="10" class="form-control custom-range" id="inputJazzSlider" name="JazzPercentage">
                <span class="font-weight-bold text-white ml-2 mt-1" id="jazzSpan"></span>
            </div>*@
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-xs-4 text-center" style="margin-top: 10px">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-warning waves-effect" asp-controller="Playlists" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
            </div>
        </div>
    </form>
</div>