@{
}

<footer class="border-top footer text-muted">
    <div class="copyright text-center">
        <p>Copyright 2020  Design by TheGesh and MariaTop</p>
    </div>
    <div class="copyright text-center">
        &copy; 2020 - RidePal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
