@model PlaylistViewModel
@{
    //assets / img / playlist / 75db30f5 - 99c1 - 4fac - a9cc - d046c6ba3f24_testing.jpg
}
<div class="card hover">
    <div class="card-img">
        @if (Model.FilePath != null)
        {
            <img class="card-img" src="@Model.FilePath" />
        }
        else
        {
            <img class="card-img" src="img/music-placeholder.jpg" />
        }
        <div class="overlay">
            <div class="overlay-content">
                <a class="hover" asp-controller="Playlists" asp-action="Details" asp-route-id="@Model.Id">View Playlist</a>
            </div>
        </div>
    </div>

    <div class="card-content">
        <a href="#!">
            <h2>@Model.Title</h2>
            <p>@Model.Genres</p>
        </a>
    </div>
</div>