@model PlaylistViewModel
@{

}
<div class="card hover">
    <div class="card-img">
        <img class="card-img" src="~/img/music-placeholder.jpg" />
        <div class="overlay">
            <div class="overlay-content">
                <a class="hover" asp-controller="Playlists" asp-action="Details" asp-route-id="@Model.Id">View Playlist</a>
            </div>
        </div>
    </div>

    <div class="card-content">
        <a href="#!">
            <h2>@Model.Title</h2>
            <p>@Model.Genres</p>
        </a>
    </div>
</div>