.carousel img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 650px;
    max-height: 650px;
    width: auto;
}

.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

    .table-title h2 {
        margin: 8px 0 0;
        font-size: 22px;
    }

.search-box {
    position: relative;
    float: right;
}

    .search-box input {
        height: 34px;
        border-radius: 20px;
        padding-left: 35px;
        border-color: #ddd;
        box-shadow: none;
    }

        .search-box input:focus {
            border-color: #3FBAE4;
        }

    .search-box i {
        color: #a0a5b1;
        position: absolute;
        font-size: 19px;
        top: 8px;
        left: 10px;
    }

table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child {
    width: 130px;
    margin-top: auto;
    align-content: center;
}

table.table td a {
    color: #a0a5b1;
    /*display: inline-block;*/
    align-content: center;
}

table.table td i {
    font-size: 20px;
    align-content: center;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

    .pagination li a {
        border: none;
        font-size: 95%;
        width: 30px;
        height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 30px !important;
        text-align: center;
        padding: 0;
    }

        .pagination li a:hover {
            color: #666;
        }

    .pagination li.active a {
        background: #03A9F4;
    }

        .pagination li.active a:hover {
            background: #0397d6;
        }

    .pagination li.disabled i {
        color: #ccc;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}

.btn {
    border-radius: .5rem;
}

/*statistics style*/
.counter {
    /*background-color: #eaecf0;*/
    text-align: center;
}

.tracks, .artists, .playlists, .users {
    margin-top: 70px;
    margin-bottom: 70px;
}

.counter-count {
    font-size: 18px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.tracks-p, .artists-p, .users-p, .playlists-p {
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}

/*playlist card styles*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
    &::before, &::after

{
    content: '';
    display: table;
}

&::after {
    clear: both;
}

}

h1 {
    font-family: $open-sans;
    font-weight: 300;
}

.row {
    max-width: 900px;
    margin: 50px auto 0;
}

// Base styles
.card {
    float: left;
    padding: 0 1.7rem;
    width: 50%;
    .menu-content

{
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li

{
    display: inline-block;
}

a {
    color: $white;
}

span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans';
    transform: translate(-50%, 0);
}

}

.wrapper {
    background-color: $white;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover

{
    .data

{
    transform: translateY(0);
}

}
}

.data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content

{
    padding: 1em;
    position: relative;
    z-index: 1;
}

}

.author {
    font-size: 12px;
}

.title {
    margin-top: 10px;
}

.text {
    height: 70px;
    margin: 0;
}

input[type='checkbox'] {
    display: none;
}

    input[type='checkbox']:checked + .menu-content {
        transform: translateY(-60px);
    }

}

// Second example styles
.example-2 {
    .wrapper
{
    &:hover

{
    .menu-content

{
    span

{
    transform: translate(-50%, -10px);
    opacity: 1;
}

}
}
}

.header {
    @include cf;
    color: $white;
    padding: 1em;
    .date

{
    float: left;
    font-size: 12px;
}

}

.menu-content {
    float: right;
    li

{
    margin: 0 5px;
    position: relative;
}

span {
    transition: all 0.3s;
    opacity: 0;
}

}

.data {
    color: $white;
    transform: translateY(calc(70px + 4em));
}

.title {
    a

{
    color: $white;
}

}

.button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after

{
    content: '\2192';
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s;
}

&:hover {
    &::after

{
    transform: translate(5px, -50%);
    opacity: 1;
}

}
}
}
