@{
    Layout = "_Layout";
    ViewData["Title"] = "About us";
}
<h1 class="text-center mt-1">Meet the Team</h1>
<div class="box">
    <div class="personInfo">
        <div class="aboutCard">
            <div class="imgBx">
                <img src="~/img/georgi.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Full Stack<br><span>Machine</span></h2>
            </div>
        </div>
        <h3 class="personName">Georgi Georgiev</h3>
        <p class="personTitle">Developer</p>
        <p class="personDesc"><br>Joined Telerik Alpha .NET Track in June 2020<br><br></p>
        <div class="social"><a href="https://gitlab.com/Georgiev88"><i class="fa fa-gitlab"></i></a></div>
    </div>

    <div class="personInfo">
        <div class="aboutCard">
            <div class="imgBx">
                <img src="~/img/Maria_gray.jpg" alt="images">
            </div>
            <div class="details">
                <h2>Backend<br><span>Machine</span></h2>
            </div>
        </div>
        <h3 class="personName">Maria Topchieva</h3>
        <p class="personTitle">Developer</p>
        <p class="personDesc"><br>Joined Telerik Alpha .NET Track in June 2020<br><br></p>
        <div class="social"><a href="https://gitlab.com/maria_topchieva"><i class="fa fa-gitlab"></i></a></div>
    </div>
</div>