@{
    Layout = "_Layout";
    ViewData["Title"] = "About us";
}

<div class="tm-section-wrap">
    <div class="tm-parallax" data-parallax="scroll" data-image-src="img/img-03.jpg"></div>
    <section id="about" class="tm-section">
        <h2 class="tm-text-primary">About Upright CSS Template</h2>
        <hr class="mb-5">

        <div class="row tm-row-about">
            <div class="tm-col-about tm-col-about-l">
                <p class="mb-4">
                    If you want to support TemplateMo, you can contribute <a rel="sponsored" href="https://paypal.me/templatemo" target="_parent">a small donation via <strong>PayPal</strong></a>. This will be very helpful. Thank you.
                </p>
                <p class="mb-4">
                    Aliquam ornare varius erat vel aliquet. Proin ac neque a tortor tristique semper eget eget sapien. Morbi vitae diam a odio lobortis mattis sed nec justo.
                </p>
                <p class="mb-4">
                    Suspendisse sagittis tortor vel turpis aliquet, vitae molestie erat luctus.
                </p>
            </div>
            <div class="tm-col-about tm-col-about-r">
                <img src="img/img-about-01.jpg" alt="Image" class="img-fluid mb-5 tm-img-about">
                <p>
                    Duis fringilla eget purus luctus sodales. Sed auctor odio quis ligula dignissim efficitur vitae vitae quam.
                </p>
            </div>
        </div>
        <div class="mt-5">
            <div class="tm-carousel">
                <div class="tm-carousel-item">
                    <figure class="effect-honey mb-4">
                        <img src="img/about-01.jpg" alt="Featured Item">
                        <figcaption>
                            <ul class="tm-social">
                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                    <div class="tm-about-text">
                        <h3 class="mb-3 tm-text-primary tm-about-title">Calvin Walk</h3>
                        <p>Aliquam efficitur, velit ut aliquet molestie, nulla dolor faucibus neque, quis hendrerit.</p>
                        <h4 class="tm-text-secondary tm-about-subtitle">Founder and CEO</h4>
                    </div>
                </div>

                <div class="tm-carousel-item">
                    <figure class="effect-honey mb-4">
                        <img src="img/about-02.jpg" alt="Featured Item">
                        <figcaption>
                            <ul class="tm-social">
                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                    <div class="tm-about-text">
                        <h3 class="mb-3 tm-text-primary tm-about-title">Jenifer Soft</h3>
                        <p>This is a carousel for a list of 10 team members. Each member image hover has 3 social icons.</p>
                        <h4 class="tm-text-secondary tm-about-subtitle">Managing Director</h4>
                    </div>
                </div>

                <div class="tm-carousel-item">
                    <figure class="effect-honey mb-4">
                        <img src="img/about-03.jpg" alt="Featured Item">
                        <figcaption>
                            <ul class="tm-social">
                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                    <div class="tm-about-text">
                        <h3 class="mb-3 tm-text-primary tm-about-title">David Rock</h3>
                        <p>Aliquam efficitur, velit ut aliquet molestie, nulla dolor faucibus neque, quis hendrerit.</p>
                        <h4 class="tm-text-secondary tm-about-subtitle">Financial Officer</h4>
                    </div>
                </div>

                <div class="tm-carousel-item">
                    <figure class="effect-honey mb-4">
                        <img src="img/about-01.jpg" alt="Featured Item">
                        <figcaption>
                            <ul class="tm-social">
                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                    <div class="tm-about-text">
                        <h3 class="mb-3 tm-text-primary tm-about-title">Calvin Second</h3>
                        <p>Aliquam efficitur, velit ut aliquet molestie, nulla dolor faucibus neque, quis hendrerit.</p>
                        <h4 class="tm-text-secondary tm-about-subtitle">Senior Director</h4>
                    </div>
                </div>

                <div class="tm-carousel-item">
                    <figure class="effect-honey mb-4">
                        <img src="img/about-02.jpg" alt="Featured Item">
                        <figcaption>
                            <ul class="tm-social">
                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                    <div class="tm-about-text">
                        <h3 class="mb-3 tm-text-primary tm-about-title">Jenifer Second</h3>
                        <p>This is a carousel for a list of 10 team members. Each member image hover has 3 social icons.</p>
                        <h4 class="tm-text-secondary tm-about-subtitle">Accounting Officer</h4>
                    </div>
                </div>

                <div class="tm-carousel-item">
                    <figure class="effect-honey mb-4">
                        <img src="img/about-03.jpg" alt="Featured Item">
                        <figcaption>
                            <ul class="tm-social">
                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                    <div class="tm-about-text">
                        <h3 class="mb-3 tm-text-primary tm-about-title">David Second</h3>
                        <p>Aliquam efficitur, velit ut aliquet molestie, nulla dolor faucibus neque, quis hendrerit.</p>
                        <h4 class="tm-text-secondary tm-about-subtitle">Financial Assistant</h4>
                    </div>
                </div>

                <div class="tm-carousel-item">
                    <figure class="effect-honey mb-4">
                        <img src="img/about-01.jpg" alt="Featured Item">
                        <figcaption>
                            <ul class="tm-social">
                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                    <div class="tm-about-text">
                        <h3 class="mb-3 tm-text-primary tm-about-title">Calvin Third</h3>
                        <p>Aliquam efficitur, velit ut aliquet molestie, nulla dolor faucibus neque, quis hendrerit.</p>
                        <h4 class="tm-text-secondary tm-about-subtitle">Designer</h4>
                    </div>
                </div>

                <div class="tm-carousel-item">
                    <figure class="effect-honey mb-4">
                        <img src="img/about-02.jpg" alt="Featured Item">
                        <figcaption>
                            <ul class="tm-social">
                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                    <div class="tm-about-text">
                        <h3 class="mb-3 tm-text-primary tm-about-title">Jenifer Third</h3>
                        <p>This is a carousel for a list of 10 team members. Each member image hover has 3 social icons.</p>
                        <h4 class="tm-text-secondary tm-about-subtitle">Program Director</h4>
                    </div>
                </div>

                <div class="tm-carousel-item">
                    <figure class="effect-honey mb-4">
                        <img src="img/about-03.jpg" alt="Featured Item">
                        <figcaption>
                            <ul class="tm-social">
                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                    <div class="tm-about-text">
                        <h3 class="mb-3 tm-text-primary tm-about-title">David Three</h3>
                        <p>Aliquam efficitur, velit ut aliquet molestie, nulla dolor faucibus neque, quis hendrerit.</p>
                        <h4 class="tm-text-secondary tm-about-subtitle">Financial Assistant</h4>
                    </div>
                </div>

                <div class="tm-carousel-item">
                    <figure class="effect-honey mb-4">
                        <img src="img/about-01.jpg" alt="Featured Item">
                        <figcaption>
                            <ul class="tm-social">
                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                    <div class="tm-about-text">
                        <h3 class="mb-3 tm-text-primary tm-about-title">Calvin Four</h3>
                        <p>Aliquam efficitur, velit ut aliquet molestie, nulla dolor faucibus neque, quis hendrerit.</p>
                        <h4 class="tm-text-secondary tm-about-subtitle">Media Partner</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>